<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Trakt Account">
        <setting id="trakt_auth_done" type="bool" label="Trakt Authenticated" default="false" enable="false"/>
        <setting id="trakt_access_token" type="text" label="" default="" visible="false"/>
        <setting id="trakt_refresh_token" type="text" label="" default="" visible="false"/>
        <setting id="auth_trakt" type="action" label="[COLOR yellow]Authorize Trakt Account[/COLOR]" action="RunPlugin(plugin://plugin.video.trakt_player/?action=auth_trakt)"/>
        <setting id="revoke_trakt" type="action" label="[COLOR red]Revoke Trakt Authorization[/COLOR]" action="RunPlugin(plugin://plugin.video.trakt_player/?action=revoke_trakt)"/>
    </category>

    <category label="Debrid Services">
        <setting id="rd_auth_done" type="bool" label="Real-Debrid Authenticated" default="false" enable="false"/>
        <setting id="rd_access_token" type="text" label="" default="" visible="false"/>
        <setting id="rd_refresh_token" type="text" label="" default="" visible="false"/>
        <setting id="rd_client_id" type="text" label="" default="" visible="false"/>
        <setting id="rd_client_secret" type="text" label="" default="" visible="false"/>
        <setting id="auth_rd" type="action" label="[COLOR yellow]Authorize Real-Debrid[/COLOR]" action="RunPlugin(plugin://plugin.video.trakt_player/?action=auth_rd)"/>
        <setting id="revoke_rd" type="action" label="[COLOR red]Revoke Real-Debrid[/COLOR]" action="RunPlugin(plugin://plugin.video.trakt_player/?action=revoke_rd)"/>

        <setting id="ad_auth_done" type="bool" label="AllDebrid Authenticated" default="false" enable="false"/>
        <setting id="ad_api_key" type="text" label="" default="" visible="false"/>
        <setting id="auth_ad" type="action" label="[COLOR yellow]Authorize AllDebrid[/COLOR]" action="RunPlugin(plugin://plugin.video.trakt_player/?action=auth_ad)"/>
        <setting id="revoke_ad" type="action" label="[COLOR red]Revoke AllDebrid[/COLOR]" action="RunPlugin(plugin://plugin.video.trakt_player/?action=revoke_ad)"/>

        <setting id="pm_auth_done" type="bool" label="Premiumize Authenticated" default="false" enable="false"/>
        <setting id="pm_access_token" type="text" label="" default="" visible="false"/>
        <setting id="auth_pm" type="action" label="[COLOR yellow]Authorize Premiumize[/COLOR]" action="RunPlugin(plugin://plugin.video.trakt_player/?action=auth_pm)"/>
        <setting id="revoke_pm" type="action" label="[COLOR red]Revoke Premiumize[/COLOR]" action="RunPlugin(plugin://plugin.video.trakt_player/?action=revoke_pm)"/>

        <setting id="tb_auth_done" type="bool" label="TorBox Authenticated" default="false" enable="false"/>
        <setting id="tb_api_key" type="text" label="" default="" visible="false"/>
        <setting id="auth_tb" type="action" label="[COLOR yellow]Authorize TorBox[/COLOR]" action="RunPlugin(plugin://plugin.video.trakt_player/?action=auth_tb)"/>
        <setting id="revoke_tb" type="action" label="[COLOR red]Revoke TorBox[/COLOR]" action="RunPlugin(plugin://plugin.video.trakt_player/?action=revoke_tb)"/>
    </category>

    <category label="Playback">
        <setting id="preferred_quality" type="select" label="Max Quality" default="0" values="1080p|720p|480p"/>
        <setting id="enable_scrobble" type="bool" label="Trakt Scrobbling" default="true"/>
        <setting id="enable_upnext" type="bool" label="Up Next (Auto-Play Next Episode)" default="true"/>
    </category>

    <category label="Metadata">
        <setting id="tmdb_api_key" type="text" label="TMDB API Key (Optional)" default=""/>
        <setting id="tmdb_key_prompted" type="bool" label="" default="false" visible="false"/>
    </category>
</settings>
