<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="auto_play" type="bool" label="Autoplay (auto-select best source)" default="false"/>
        <setting id="source_timeout" type="slider" label="Source timeout (seconds)" default="30" range="10,5,120"/>
        <setting id="max_results" type="slider" label="Maximum results per scraper" default="50" range="10,10,100"/>
    </category>
    
    <category label="Preferences">
        <setting id="premiere_international" type="bool" label="Show International Premieres (Japanese, Chinese, Korean, etc.)" default="false"/>
    </category>
    
    <category label="Free Streams (No Debrid)">
        <setting id="freestream_enabled" type="bool" label="Enable Free Stream Aggregator" default="true"/>
        <setting id="vidsrc_xyz_enabled" type="bool" label="VidSrc.xyz" default="true"/>
        <setting id="vidsrc_cc_enabled" type="bool" label="VidSrc.cc" default="true"/>
        <setting id="vidsrc_in_enabled" type="bool" label="VidSrc.in" default="true"/>
        <setting id="vidsrc_pm_enabled" type="bool" label="VidSrc.pm" default="true"/>
        <setting id="vidsrc_nl_enabled" type="bool" label="VidSrc.nl" default="true"/>
        <setting id="vidsrc_pro_enabled" type="bool" label="VidSrc.pro" default="true"/>
        <setting id="vidsrcme_enabled" type="bool" label="VidSrc.me" default="true"/>
        <setting id="vidsrcto_enabled" type="bool" label="VidSrc.to" default="true"/>
        <setting id="2embed_enabled" type="bool" label="2Embed.cc" default="true"/>
        <setting id="2embed_org_enabled" type="bool" label="2Embed.org" default="true"/>
        <setting id="embedsu_enabled" type="bool" label="Embed.su" default="true"/>
        <setting id="autoembed_enabled" type="bool" label="AutoEmbed" default="true"/>
        <setting id="multiembed_enabled" type="bool" label="MultiEmbed" default="true"/>
        <setting id="vidlink_enabled" type="bool" label="VidLink" default="true"/>
        <setting id="vidplay_enabled" type="bool" label="VidPlay" default="true"/>
        <setting id="moviesapi_enabled" type="bool" label="MoviesAPI" default="true"/>
        <setting id="smashystream_enabled" type="bool" label="SmashyStream" default="true"/>
        <setting id="nontongo_enabled" type="bool" label="NontonGo" default="true"/>
        <setting id="rgshorts_enabled" type="bool" label="RgShorts/RiveStream" default="true"/>
    </category>
    
    <category label="Stremio Free Addons">
        <setting id="braflix_enabled" type="bool" label="Braflix" default="true"/>
        <setting id="streamingcommunity_enabled" type="bool" label="StreamingCommunity" default="true"/>
        <setting id="themoviearchive_enabled" type="bool" label="TheMovieArchive" default="true"/>
        <setting id="publicdomainmovies_enabled" type="bool" label="PublicDomainMovies" default="true"/>
        <setting id="watchhub_enabled" type="bool" label="WatchHub" default="true"/>
        <setting id="cinemeta_enabled" type="bool" label="Cinemeta" default="false"/>
        <setting id="knightcrawler_enabled" type="bool" label="KnightCrawler" default="true"/>
        <setting id="jackettio_enabled" type="bool" label="Jackettio" default="true"/>
        <setting id="orionoid_enabled" type="bool" label="Orionoid" default="true"/>
        <setting id="tpbplus_enabled" type="bool" label="TPB Plus" default="true"/>
        <setting id="yts_stremio_enabled" type="bool" label="YTS Stremio" default="true"/>
        <setting id="rarbg_stremio_enabled" type="bool" label="RARBG Stremio" default="true"/>
        <setting id="torrentio_free_enabled" type="bool" label="Torrentio (Free Mode)" default="true"/>
        <setting id="aiostreams_enabled" type="bool" label="AIOStreams" default="true"/>
        <setting id="stremthru_enabled" type="bool" label="StremThru" default="true"/>
        <setting id="mediaflow_enabled" type="bool" label="MediaFlow" default="true"/>
        <setting id="ddlstream_enabled" type="bool" label="DDLStream" default="true"/>
        <setting id="plutotv_stremio_enabled" type="bool" label="PlutoTV" default="true"/>
        <setting id="tubi_stremio_enabled" type="bool" label="Tubi" default="true"/>
        <setting id="localtv_enabled" type="bool" label="LocalTV" default="false"/>
        <setting id="opensubs_enabled" type="bool" label="OpenSubtitles" default="false"/>
    </category>
    
    <category label="Streaming Sites">
        <setting id="flixhq_enabled" type="bool" label="FlixHQ" default="true"/>
        <setting id="bflix_enabled" type="bool" label="BFlix" default="true"/>
        <setting id="hdtoday_enabled" type="bool" label="HDToday" default="true"/>
        <setting id="soap2day_enabled" type="bool" label="Soap2Day" default="true"/>
        <setting id="lookmovie_enabled" type="bool" label="LookMovie" default="true"/>
        <setting id="azmovies_enabled" type="bool" label="AZMovies" default="true"/>
        <setting id="yesmovies_enabled" type="bool" label="YesMovies" default="true"/>
        <setting id="fmovies_enabled" type="bool" label="FMovies" default="true"/>
        <setting id="gomovies_enabled" type="bool" label="GoMovies" default="true"/>
        <setting id="123movies_enabled" type="bool" label="123Movies" default="true"/>
        <setting id="streamlord_enabled" type="bool" label="StreamLord" default="true"/>
        <setting id="moviesjoy_enabled" type="bool" label="MoviesJoy" default="true"/>
        <setting id="sflix_enabled" type="bool" label="SFlix" default="true"/>
        <setting id="putlocker_enabled" type="bool" label="Putlocker" default="true"/>
        <setting id="watchserieshd_enabled" type="bool" label="WatchSeriesHD" default="true"/>
        <setting id="m4ufree_enabled" type="bool" label="M4UFree" default="true"/>
        <setting id="yifymovies_enabled" type="bool" label="YifyMovies" default="true"/>
        <setting id="solarmovie2_enabled" type="bool" label="SolarMovie" default="true"/>
        <setting id="xmovies8_enabled" type="bool" label="XMovies8" default="true"/>
        <setting id="iomovies_enabled" type="bool" label="IOMovies" default="true"/>
        <setting id="cmovieshd_enabled" type="bool" label="CMoviesHD" default="true"/>
        <setting id="primewire_enabled" type="bool" label="PrimeWire" default="true"/>
        <setting id="watchseries_enabled" type="bool" label="WatchSeries" default="true"/>
        <setting id="movie4k_enabled" type="bool" label="Movie4K" default="true"/>
        <setting id="solarmovie_enabled" type="bool" label="SolarMovie (Legacy)" default="true"/>
    </category>
    
    <category label="Source Cache">
        <setting id="source_cache_enabled" type="bool" label="Enable source caching" default="true"/>
        <setting id="source_cache_hours" type="slider" label="Source cache duration (hours)" default="2" range="1,1,12" enable="eq(-1,true)"/>
        <setting id="preemptive_scrape" type="bool" label="Pre-emptive scrape next episode" default="true"/>
    </category>
    
    <category label="Trakt">
        <setting id="trakt_enabled" type="bool" label="Enable Trakt" default="false"/>
        <setting id="trakt_access_token" type="text" label="Access Token" default="" visible="false"/>
        <setting id="trakt_refresh_token" type="text" label="Refresh Token" default="" visible="false"/>
        <setting id="trakt_expires" type="text" label="Expires" default="0" visible="false"/>
    </category>
    
    <category label="Debrid Services">
        <setting id="realdebrid_enabled" type="bool" label="Enable Real-Debrid" default="false"/>
        <setting id="realdebrid_token" type="text" label="Access Token" default="" visible="false"/>
        <setting id="realdebrid_refresh" type="text" label="Refresh Token" default="" visible="false"/>
        <setting id="realdebrid_expires" type="text" label="Expires" default="0" visible="false"/>
        <setting id="premiumize_enabled" type="bool" label="Enable Premiumize" default="false"/>
        <setting id="premiumize_token" type="text" label="API Key" default="" visible="false"/>
        <setting id="alldebrid_enabled" type="bool" label="Enable AllDebrid" default="false"/>
        <setting id="alldebrid_token" type="text" label="API Key" default="" visible="false"/>
        <setting id="torbox_enabled" type="bool" label="Enable TorBox" default="false"/>
        <setting id="torbox_token" type="text" label="API Key" default="" visible="false"/>
    </category>
    
    <category label="Primary Torrent Sites">
        <setting id="1337x_enabled" type="bool" label="1337x" default="true"/>
        <setting id="yts_enabled" type="bool" label="YTS (Movies)" default="true"/>
        <setting id="eztv_enabled" type="bool" label="EZTV (TV)" default="true"/>
        <setting id="torrentgalaxy_enabled" type="bool" label="TorrentGalaxy" default="true"/>
        <setting id="thepiratebay_enabled" type="bool" label="ThePirateBay" default="true"/>
        <setting id="solidtorrents_enabled" type="bool" label="SolidTorrents" default="true"/>
    </category>
    
    <category label="Secondary Torrent Sites">
        <setting id="limetorrents_enabled" type="bool" label="LimeTorrents" default="true"/>
        <setting id="torrentz2_enabled" type="bool" label="Torrentz2" default="true"/>
        <setting id="rarbg_enabled" type="bool" label="RARBG" default="true"/>
        <setting id="kickass_enabled" type="bool" label="Kickass" default="true"/>
        <setting id="magnetdl_enabled" type="bool" label="MagnetDL" default="true"/>
        <setting id="glodls_enabled" type="bool" label="GLODLS" default="true"/>
        <setting id="idope_enabled" type="bool" label="iDope" default="true"/>
        <setting id="torrentdownload_enabled" type="bool" label="TorrentDownload" default="true"/>
    </category>
    
    <category label="Additional Torrent Sites">
        <setting id="bitsearch_enabled" type="bool" label="BitSearch" default="true"/>
        <setting id="torrentdownloads2_enabled" type="bool" label="TorrentDownloads" default="true"/>
        <setting id="torlock_enabled" type="bool" label="TorLock" default="true"/>
        <setting id="torrentfunk_enabled" type="bool" label="TorrentFunk" default="true"/>
        <setting id="yourbittorrent_enabled" type="bool" label="YourBittorrent" default="true"/>
        <setting id="leetx_enabled" type="bool" label="LeetX (1337x Mirror)" default="true"/>
        <setting id="torrentscsv_enabled" type="bool" label="TorrentsCSV" default="true"/>
        <setting id="solidtorrents2_enabled" type="bool" label="SolidTorrents2" default="true"/>
        <setting id="ethd_enabled" type="bool" label="EtHD" default="true"/>
        <setting id="skytorrent_enabled" type="bool" label="SkyTorrent" default="true"/>
    </category>
    
    <category label="Meta Search">
        <setting id="btdigg_enabled" type="bool" label="BTDigg" default="true"/>
        <setting id="zooqle_enabled" type="bool" label="Zooqle" default="true"/>
        <setting id="torrentproject_enabled" type="bool" label="TorrentProject" default="true"/>
    </category>
    
    <category label="Anime Sources">
        <setting id="nyaa_enabled" type="bool" label="Nyaa" default="true"/>
        <setting id="zoro_enabled" type="bool" label="Zoro.to" default="true"/>
        <setting id="9anime_enabled" type="bool" label="9Anime" default="true"/>
        <setting id="gogoanime_enabled" type="bool" label="GogoAnime" default="true"/>
        <setting id="aniwave_enabled" type="bool" label="AniWave" default="true"/>
        <setting id="hianime_enabled" type="bool" label="HiAnime" default="true"/>
        <setting id="animepahe_enabled" type="bool" label="AnimePahe" default="true"/>
        <setting id="animeflix_enabled" type="bool" label="AnimeFlix" default="true"/>
        <setting id="kickassanime_enabled" type="bool" label="KickAssAnime" default="true"/>
        <setting id="yugenanime_enabled" type="bool" label="YugenAnime" default="true"/>
        <setting id="allanime_enabled" type="bool" label="AllAnime" default="true"/>
        <setting id="animesuge_enabled" type="bool" label="AnimeSuge" default="true"/>
        <setting id="aniwatch_enabled" type="bool" label="Aniwatch" default="true"/>
        <setting id="anime_stremio_enabled" type="bool" label="Anime Stremio" default="true"/>
        <setting id="animetosho_stremio_enabled" type="bool" label="AnimeTosho Stremio" default="true"/>
        <setting id="subsplease_enabled" type="bool" label="SubsPlease" default="true"/>
        <setting id="tokyotosho_enabled" type="bool" label="TokyoTosho" default="true"/>
        <setting id="animetosho_enabled" type="bool" label="AnimeTosho" default="true"/>
        <setting id="anidex_enabled" type="bool" label="AniDex" default="true"/>
        <setting id="acgtorrent_enabled" type="bool" label="AcgTorrent" default="true"/>
    </category>
    
    <category label="Asian Drama">
        <setting id="watchasian_enabled" type="bool" label="WatchAsian" default="true"/>
        <setting id="kissasian_enabled" type="bool" label="KissAsian" default="true"/>
        <setting id="dramacool_enabled" type="bool" label="DramaCool" default="true"/>
        <setting id="viewasian_enabled" type="bool" label="ViewAsian" default="true"/>
        <setting id="asianload_enabled" type="bool" label="AsianLoad" default="true"/>
    </category>
    
    <category label="Russian Sources">
        <setting id="rutracker_enabled" type="bool" label="RuTracker" default="true"/>
        <setting id="rutor_enabled" type="bool" label="RuTor" default="true"/>
        <setting id="nnm-club_enabled" type="bool" label="NNM-Club" default="true"/>
    </category>
    
    <category label="Chinese Sources">
        <setting id="dytt_enabled" type="bool" label="DyTT" default="true"/>
        <setting id="btbtt_enabled" type="bool" label="BTBTT" default="true"/>
    </category>
    
    <category label="French Sources">
        <setting id="torrent9_enabled" type="bool" label="Torrent9" default="true"/>
        <setting id="yggtorrent_enabled" type="bool" label="YggTorrent" default="true"/>
    </category>
    
    <category label="Stremio Debrid Addons">
        <setting id="torrentio_enabled" type="bool" label="Torrentio" default="true"/>
        <setting id="mediafusion_enabled" type="bool" label="MediaFusion" default="true"/>
        <setting id="comet_enabled" type="bool" label="Comet" default="true"/>
        <setting id="cyberflix_enabled" type="bool" label="CyberFlix" default="true"/>
        <setting id="annatar_enabled" type="bool" label="Annatar" default="true"/>
        <setting id="peerflix_enabled" type="bool" label="PeerFlix" default="true"/>
        <setting id="easynews_enabled" type="bool" label="EasyNews+" default="false"/>
    </category>
    
    <category label="Aggregators">
        <setting id="jackett_enabled" type="bool" label="Enable Jackett" default="false"/>
        <setting id="jackett_url" type="text" label="Jackett URL" default="http://localhost:9117" enable="eq(-1,true)"/>
        <setting id="jackett_api_key" type="text" label="Jackett API Key" default="" enable="eq(-2,true)"/>
        <setting id="prowlarr_enabled" type="bool" label="Enable Prowlarr" default="false"/>
        <setting id="prowlarr_url" type="text" label="Prowlarr URL" default="http://localhost:9696" enable="eq(-1,true)"/>
        <setting id="prowlarr_api_key" type="text" label="Prowlarr API Key" default="" enable="eq(-2,true)"/>
        <setting id="torrentapi_enabled" type="bool" label="TorrentAPI" default="false"/>
    </category>
    
    <category label="Playback">
        <setting id="filter_cam" type="bool" label="Filter CAM/TS quality" default="true"/>
        <setting id="min_quality" type="labelenum" label="Minimum quality" values="Any|480p|720p|1080p|4K" default="Any"/>
        <setting id="sort_by" type="labelenum" label="Sort sources by" values="Seeds|Quality|Size" default="Seeds"/>
        <setting id="next_episode_enabled" type="bool" label="Enable Up Next (auto next episode)" default="true"/>
        <setting id="skip_intro_enabled" type="bool" label="Enable Skip Intro prompt" default="true"/>
        <setting id="skip_intro_duration" type="slider" label="Skip Intro duration (seconds)" default="90" range="30,5,180" enable="eq(-1,true)"/>
    </category>
    
    <category label="Advanced">
        <setting id="cache_duration" type="slider" label="Cache duration (hours)" default="8" range="1,1,24"/>
        <setting id="debug_enabled" type="bool" label="Enable debug logging" default="false"/>
        <setting id="parallel_scrapers" type="slider" label="Max parallel scrapers" default="10" range="5,5,30"/>
    </category>
    
    <category label="AI Search">
        <setting id="ai_search_enabled" type="bool" label="Enable AI Search" default="true"/>
        <setting id="ai_api_key" type="text" label="OpenAI API Key" default="sk-emergent-4Ed53090b4b04F8606" option="hidden"/>
        <setting id="ai_model" type="labelenum" label="AI Model" values="gpt-4o-mini|gpt-4o|gpt-5.2" default="0"/>
    </category>
</settings>
